@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
:root {
  --color-white: #fff;
  --color-primary: #e20613;
  --color-secound: #03275a;
  --color-text: #191e3a;
  --color-pargraph: #878787;
}
@font-face {
  font-family: "light";
  src: url("../fonts/DINNEXTLTARABIC-LIGHT-2-2.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/DINNextLTArabic-Regular-4.ttf");
}
@font-face {
  font-family: "meduim";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_HelveticaWorld-Bold.ttf");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}
.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.parg {
  font-size: 0.8rem;
  color: var(--color-pargraph);
  font-family: "regular";
  text-align: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.button .first {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0px;
  font-size: 1rem;
  font-family: "meduim";
  text-align: center;
  color: var(--color-white);
  padding: 2% 1%;
  width: 100%;
}
.button .first:hover {
  background-color: white;
  color: var(--color-primary);
}
.button .second {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  background: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  font-size: 0.6rem;
  font-family: "meduim";
  text-align: center;
  color: var(--color-primary);
  padding: 2% 1%;
}
.button .second:hover {
  background-color: var(--color-primary);
  color: white;
}
.button .third {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  background: var(--color-secound);
  border: 1px solid var(--color-secound);
  border-radius: 0px;
  font-size: 1rem;
  font-family: "meduim";
  text-align: center;
  color: var(--color-white);
  padding: 1%;
}
.button .third:hover {
  background-color: white;
  color: var(--color-secound);
}
.main-title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title h2 {
  font-size: 2.2rem;
  font-family: "meduim";
  color: var(--color-text);
}
.main-title p {
  font-size: 1.1rem;
  font-family: "regular";
  color: var(--color-pargraph);
  padding: 2% 19%;
  text-align: center;
}
.header_footer {
  font-size: 1.2rem;
  color: var(--color-white);
  font-family: "meduim";
  position: relative;
}
.header_footer::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--color-primary);
  color: var(--color-primary);
}
.icon_filter {
  display: flex;
  position: absolute;
  top: 21%;
  left: 2%;
  z-index: 100;
}
.icon_filter i {
  color: var(--color-pargraph);
}
.input-group {
  position: relative;
  margin-bottom: 3%;
}
.input-group .icon_form {
  position: absolute;
  left: 0.3rem;
  top: 58%;
}
.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.form-control {
  border-radius: 2px;
  padding-left: 6%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
}
.form-control:focus {
  box-shadow: none !important;
  border-color: var(--color-pargraph) !important;
}
.form-control::placeholder {
  color: var(--color-text) !important;
  font-family: "regular" !important;
  font-size: 0.9rem;
}
textarea {
  height: 100px;
}
textarea.form-control {
  padding-left: 2%;
}
.form-select {
  border-radius: 0px;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: var(--color-white);
  color: var(--color-text);
  background-position: right;
  position: relative;
}
.form-select:focus {
  box-shadow: unset !important;
}
.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}
input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";
}
input[type="data"]::placeholder {
  content: "";
}
.form-check .form-check-input {
  float: left;
  margin-right: 5px;
}
.form-check .form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.form-check .form-check-label {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-text);
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_code {
  margin: 0 0.5%;
  width: 100%;
}
.number_code input {
  width: 15%;
  display: inline-block;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid var(--color-pargraph);
  border-radius: 0;
}
#exampleModal .modal-dialog {
  max-width: 43.75rem;
}
#exampleModal .modal-dialog .modal-body h2 {
  font-size: 1.6rem;
  margin-bottom: 3%;
}
#exampleModal .modal-dialog .modal-body .button {
  justify-content: flex-start;
}
#exampleModal .modal-dialog .modal-body .button .btn {
  width: 26%;
  padding: 1%;
}
.bh-widget-page .bh-w-link {
  display: none;
}
.navbar .navbar-toggler {
  cursor: pointer;
  border: 1px solid var(--color-white);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-white) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}
.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
}
.navbar .navbar-toggler-icon::before {
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
  content: "";
  display: block;
  top: -0.3em;
}
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
  content: "";
  display: block;
  bottom: -0.3em;
}
.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg);
}
.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}
.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}
#preloader {
  background-image: url(../image/Rolling-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}
#button {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-primary);
  animation: move-toggs 3s linear infinite;
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--color-primary);
}
#button i {
  color: var(--color-primary);
  margin: auto;
  font-size: 22px;
  transition: 0.3s all;
}
#button:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  cursor: pointer;
}
#button:hover i {
  color: var(--color-white);
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.navbar {
  background-color: var(--color-text);
}
.navbar .navbar-brand {
  width: 52px;
  height: 52px;
}
.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}
.navbar .navbar-collapse .navbar-nav {
  width: 66%;
  justify-content: center;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  transition: 0.35s all ease-in;
  position: relative;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-family: "regular";
  color: var(--color-white);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.25s all;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: var(--color-primary);
  font-family: "meduim";
  transition: 0.25s all ease-in-out;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active:hover {
  color: var(--color-white);
}
.navbar .navbar-collapse .sign_button {
  width: 17%;
  margin-top: 0;
}
.navbar .navbar-collapse .sign_button .first {
  padding: 0% 4% 3%;
  font-size: 1rem;
  font-family: "meduim";
  border-radius: 0;
  width: 78%;
}
.navbar .navbar-collapse .sign_button .first:hover {
  border-color: transparent;
}
.navbar .navbar-collapse .dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  border-radius: 0;
  font-size: 1rem;
  font-family: "regular";
}
.navbar .navbar-collapse .dropdown .dropdown-menu {
  min-width: 5rem;
}
.navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item {
  font-family: "regular";
  font-size: 0.8rem;
  color: var(--color-text);
}
.hero_section {
  position: relative;
}
.hero_section .swiper {
  width: 100%;
  height: 100%;
}
.hero_section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero_section .swiper .swiper-slide .img {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 50;
}
.hero_section .swiper .swiper-slide .img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 7s ease-in-out;
  overflow: hidden;
  z-index: 99;
}
.hero_section .swiper .swiper-slide .slope_shape {
  position: absolute;
  left: 0px;
  top: 0;
  width: 50%;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #141d3b, #002040);
  clip-path: polygon(0 0%, 65% 0, 100% 100%, 0% 100%);
  z-index: 100;
}
.hero_section .swiper .swiper-slide .shape_mob {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 900px;
  height: 350px;
  z-index: 120;
}
.hero_section .swiper .swiper-slide .shape_mob img {
  width: 100%;
  height: 100%;
  z-index: 120;
  animation: move 5s linear infinite;
}
.hero_section .swiper .swiper-button-next,
.hero_section .swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.hero_section .swiper .swiper-button-next::after,
.hero_section .swiper .swiper-button-prev::after {
  opacity: 0;
  display: none;
}
.hero_section .swiper .swiper-button-next i,
.hero_section .swiper .swiper-button-prev i {
  color: var(--color-white);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.hero_section .swiper .swiper-button-next:hover,
.hero_section .swiper .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.hero_section .swiper .swiper-button-next:hover i,
.hero_section .swiper .swiper-button-prev:hover i {
  color: var(--color-primary);
}
@keyframes move {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  25% {
    transform: translateY(20px) rotateY(20deg);
  }
  50% {
    transform: translateY(40px) rotateY(40deg);
  }
  75% {
    transform: translateY(20px) rotateY(20deg);
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
  }
}
.filter_section {
  padding: 3% 0;
  position: relative;
}
.filter_section .box-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.filter_section .box-menu ul li {
  width: calc(100% / 10);
  cursor: pointer;
  font-family: "regular";
  margin-right: 1%;
}
.filter_section .box-menu ul li .nav-link {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0.1rem 0.4rem;
  margin-right: 1%;
  width: 100%;
  transition: 0.25s all ease-in-out;
  height: 3rem;
}
.filter_section .box-menu ul li .nav-link:hover {
  color: var(--color-primary);
  background-color: var(--color-text);
}
.filter_section .box-menu ul li .nav-link:hover i {
  color: var(--color-white) !important;
}
.filter_section .box-menu ul li .nav-link i {
  font-size: 1rem;
  transition: 0.25s color ease-in-out;
}
.filter_section .box-menu ul li .mega_button {
  position: relative;
  width: 15.625rem;
  min-height: 45px;
  border-radius: 5px;
  background-color: #f7f7f7;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 110;
  transition: 0.45s all ease-in-out;
}
.filter_section .box-menu ul li .mega_button .arrow_mega {
  position: absolute;
  right: 0.313rem;
  top: 23%;
  transition: 0.35s all ease-in-out;
}
.filter_section .box-menu ul li .mega_button.show {
  background-color: var(--color-text);
  transition: 0.45s all ease-in-out;
}
.filter_section .box-menu ul li .mega_button.show i {
  color: var(--color-white);
}
.filter_section .box-menu ul li .mega_button.show .arrow_mega {
  transform: rotate(0.76turn);
  transition: 0.35s all ease-in-out;
}
.filter_section .box-menu ul li.mixitup-control-active .nav-link {
  color: var(--color-white);
  background-color: var(--color-text);
  border-radius: 5px;
}
.filter_section .box-menu ul li.mixitup-control-active .nav-link i {
  font-size: 1rem;
  transition: 0.25s color ease-in-out;
  color: var(--color-white) !important;
}
.filter_section .box-menu ul li.nav-item {
  text-align: center;
  width: 100px;
}
.filter_section .box-menu ul li.nav-item .nav-link {
  padding: 0.1rem 2rem;
}
.filter_section .box-list {
  margin-top: 5%;
}
.filter_section .box-list .card {
  border-radius: 2px;
  padding: 3% 2%;
  margin-bottom: 4%;
}
.filter_section .box-list .card .header_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
}
.filter_section .box-list .card .content_card {
  padding: 2% 0;
}
.filter_section .box-list .card .footer_card {
  padding: 1% 0 3%;
}
.filter_section .mega_menu {
  animation: hide_animate 1s linear;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 150;
  width: 69.188rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-text);
  padding-right: 0;
  padding-left: 0;
  transition: 0.45s all ease-in;
}
.filter_section .mega_menu .boxes_mega_menu {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.5s all ease-in;
}
.filter_section .mega_menu .boxes_mega_menu .list_mega {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.filter_section .mega_menu .boxes_mega_menu .list_mega a {
  width: 25%;
}
.filter_section .mega_menu .boxes_mega_menu .list_mega a .box {
  width: 100%;
  border: 1px solid #c9c9c9;
  padding: 6%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.filter_section .mega_menu .boxes_mega_menu .list_mega a .box img {
  width: 30px;
  height: 30px;
  margin-right: 2%;
}
.filter_section .mega_menu.show {
  display: block;
  transition: 0.5s all ease-in-out;
  animation: show_animate 1s linear;
}
@keyframes show_animate {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.how_work {
  margin: 2% 0;
  background-color: rgba(25, 30, 58, 0.03);
  padding: 5% 0;
}
.how_work .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.how_work .boxes .box {
  width: 33%;
  padding: 1% 5%;
  position: relative;
}
.how_work .boxes .box:nth-child(3)::after {
  display: none;
}
.how_work .boxes .box::after {
  content: url(../image/arrow.png);
  width: 10%;
  height: 10%;
  top: 50%;
  right: 3%;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.how_work .boxes .box::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  color: var(--color-primary);
  background-color: var(--color-primary);
  top: 55%;
  left: 17%;
  transition: 0.5s all ease-in;
}
.how_work .boxes .box:hover::before {
  width: 60px;
}
.how_work .boxes .box span {
  font-size: 5rem;
  position: relative;
}
.important_information {
  position: relative;
  padding: 4% 0;
}
.important_information .accordion-item {
  margin: 2% 0;
  border: 1px solid #f7f7f7;
}
.important_information .accordion-item .accordion-header {
  font-size: 1.5rem;
  color: var(--color-text);
  font-family: "regular";
}
.important_information .accordion-item .accordion-button::after {
  margin-left: auto;
  margin-right: 0;
}
.important_information .accordion-item .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  background-color: rgba(226, 6, 19, 0.03);
}
.important_information .accordion-item .accordion-body {
  font-family: "meduim";
  font-size: 0.8rem;
  color: var(--color-pargraph);
}
.main_content .cards {
  padding: 4% 0;
}
.main_content .cards .card {
  border-radius: 2px;
  padding: 3% 2%;
}
.main_content .cards .card .header_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
}
.main_content .cards .card .content_card {
  padding: 2% 0;
}
.main_content .cards .card .footer_card {
  padding: 1% 0 3%;
}
footer {
  background-color: var(--color-text);
  padding: 3% 0;
  margin-top: 2%;
}
footer .footer_logo {
  width: 92px;
  height: 92px;
}
footer .footer_logo img {
  width: 100%;
  height: 100%;
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7% 0 2%;
}
footer .links li {
  margin-bottom: 3%;
}
footer .links li a {
  font-size: 1rem;
  color: var(--color-white);
  font-family: "meduim";
}
footer .social_icon {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 2%;
  padding: 7% 0 2%;
}
footer .social_icon li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 3%;
  transition: 0.25s background-color ease-out;
}
footer .social_icon li a i {
  color: var(--color-pargraph);
  transition: 0.25s color ease-out;
}
footer .social_icon li:hover {
  background-color: var(--color-primary);
}
footer .social_icon li:hover a i {
  color: white;
}
footer .lower_footer {
  border-top: 1px solid var(--color-white);
  padding-top: 2%;
  margin-top: 2%;
}
footer .lower_footer p {
  color: var(--color-white);
  text-align: end;
}
.header {
  background-color: rgba(25, 30, 58, 0.03);
  padding: 3% 0;
}
.header a {
  font-size: 1.2rem;
  color: var(--color-pargraph);
  font-family: "regular";
}
.header i {
  color: var(--color-pargraph);
}
.header span {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.pravicy {
  padding: 5% 0;
}
.pravicy .content {
  padding: 3% 0;
}
.pravicy .content ul {
  list-style-image: url(../image/checked.png);
  text-align: center;
}
.pravicy .content ul li {
  font-size: 1rem;
  text-align: start;
}
.acounnt_sec {
  position: relative;
  padding: 5% 0;
}
.acounnt_sec .main-title {
  padding-bottom: 5%;
}
.acounnt_sec .card {
  border-radius: 2px;
  padding: 3% 2%;
}
.acounnt_sec .card .header_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
}
.acounnt_sec .card .content_card {
  padding: 2% 0;
}
.acounnt_sec .card .footer_card {
  padding: 1% 0 3%;
}
.acounnt_sec .card .footer_card .button .btn {
  width: 90%;
}
.acounnt_sec .button .btn {
  width: 26%;
  padding: 1%;
}
.content_account {
  position: relative;
  padding: 5% 0;
}
.content_account .img {
  width: 9rem;
  height: 8.125rem;
}
.content_account .img img {
  width: 100%;
  height: 100%;
}
.content_account .summery .header_summery {
  padding-bottom: 4%;
}
.content_account .summery .header_summery span {
  font-size: 1rem;
  color: var(--color-pargraph);
  font-family: "regular";
}
.content_account .summery .header_summery .text {
  font-size: 1.8rem;
}
.content_account .summery .header_summery .parg {
  text-align: start;
}
.content_account .summery .header_summery .parg span {
  color: var(--color-text);
}
.content_account .summery .summery_content .text {
  font-size: 1.1rem;
}
.content_account .summery .summery_content ul {
  list-style-image: url(../image/dot.png);
}
.content_account .summery .summery_content ul li {
  text-align: start;
  font-size: 1rem;
}
.content_account .summery .footer_summery {
  padding-top: 5%;
}
.content_account .summery .footer_summery .form-select {
  padding: 0.375rem 0.45rem 0.75rem 0.4rem;
  text-align: center;
}
.content_account .summery .footer_summery .button {
  margin-top: 0;
}
.buy_account {
  position: relative;
  padding: 1%;
  margin-top: 4%;
}
.buy_account .header {
  padding: 1%;
}
.buy_account .header .img {
  width: 16rem;
  height: 14.125rem;
}
.buy_account .header .img img {
  width: 100%;
  height: 100%;
}
.buy_account .header .text {
  font-size: 1.5rem;
}
.buy_account .header p {
  font-size: 1rem;
  text-align: start;
  padding-bottom: 2%;
}
.methods_pay {
  padding: 3% 0;
}
.methods_pay .text {
  font-size: 1.3rem;
}
.methods_pay a img {
  width: 100%;
  height: 100%;
}
.login_form {
  position: relative;
  padding: 4% 0;
}
.login_form form {
  background-color: rgba(25, 30, 58, 0.03);
  padding: 10% 5%;
  margin-top: 1%;
}
.login_form form .input-group {
  position: relative;
}
.login_form form .input-group .icon_filter {
  top: 59%;
}
.login_form form a {
  transition: 0.25s all ease-in;
}
.login_form form a:hover {
  color: var(--color-primary) !important;
}
.login_form form .account {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-text);
  text-align: center;
  padding-top: 2%;
}
.login_form form .account a {
  color: var(--color-primary);
}
.number_verfication {
  position: relative;
  padding: 5% 0;
}
.number_verfication .number {
  background-color: rgba(25, 30, 58, 0.03);
  padding: 3%;
  text-align: center;
}
.number_verfication .number span {
  font-size: 0.9rem;
  color: var(--color-pargraph);
  font-family: "regular";
}
.number_verfication .information_connect {
  padding: 4% 0;
}
.number_verfication .information_connect .main-title {
  justify-content: start;
  align-items: flex-start;
}
.number_verfication .information_connect .main-title p {
  text-align: start;
  padding: 2% 0;
}
.number_verfication .information_connect form .input-group .icon_filter {
  top: 57%;
}
.number_verfication .information_connect form .button {
  align-items: flex-start;
  justify-content: flex-start;
}
.number_verfication .information_connect form .button .btn {
  width: 30%;
  padding: 1%;
}
.personal_account {
  position: relative;
  padding: 5% 0;
}
.personal_account .nav-pills {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  border: 1px solid #f7f7f7;
}
.personal_account .nav-pills .nav-link {
  font-family: "regular";
  font-size: 1.2rem;
  color: var(--color-pargraph);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 0;
  transition: 0.25s all ease-in-out;
}
.personal_account .nav-pills .nav-link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.personal_account .nav-pills .nav-link:hover i {
  color: var(--color-white);
}
.personal_account .nav-pills .nav-link i {
  font-size: 1.2rem;
  color: var(--color-pargraph);
  margin-right: 2%;
}
.personal_account .nav-pills .nav-link.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.personal_account .nav-pills .nav-link.active i {
  color: var(--color-white);
}
.personal_account .tab-content .tab-pane .my_account .personal_id .text {
  font-size: 1.3rem;
  margin-bottom: 2%;
}
.personal_account .tab-content .tab-pane .my_account .personal_id .content {
  border: 1px solid #878787;
  padding: 2% 4%;
}
.personal_account .tab-content  .tab-pane .my_account .personal_id .content form .profile-pic-div {
  height: 139px;
  width: 137px;
  position: absolute;
  top: 7%;
  right: 27%;
  transform: translate(0, 6%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  #photo {
  height: 100%;
  width: 100%;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  #file {
  display: none;
}
.personal_account  .tab-content  .tab-pane  .my_account  .personal_id .content
  form
  #uploadBtn {
  height: 40px;
  width: 80%;
  position: absolute;
  bottom: -220px;
  font-family: "regular";
  right: -15%;
  transform: translateX(-50%);
  text-align: center;
  background: transparent;
  color: var(--color-primary);
  font-size: 14px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.25s all ease;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  #uploadBtn:hover {
  opacity: 0.5;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  #uploadBtn
  h6 {
  font-size: 13px;
  margin: auto;
  padding-top: 6%;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  .input-group
  .icon_filter {
  top: 59%;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  .button {
  justify-content: flex-end;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .personal_id
  .content
  form
  .button
  .btn {
  width: 33%;
  padding: 1%;
}
.personal_account .tab-content .tab-pane .my_account .password {
  margin-top: 7%;
}
.personal_account .tab-content .tab-pane .my_account .password .text {
  font-size: 1.3rem;
  margin-bottom: 2%;
}
.personal_account .tab-content .tab-pane .my_account .password .content {
  border: 1px solid #878787;
  padding: 2% 4%;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .password
  .content
  form
  .input-group
  .icon_filter {
  top: 59%;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .password
  .content
  form
  .button {
  justify-content: flex-end;
}
.personal_account
  .tab-content
  .tab-pane
  .my_account
  .password
  .content
  form
  .button
  .btn {
  width: 33%;
  padding: 1%;
}
.personal_account
  .tab-content
  .tab-pane
  .notfication_section
  .notfication_exist
  .text {
  font-size: 1.8rem;
}
.personal_account
  .tab-content
  .tab-pane
  .notfication_section
  .notfication_exist
  .notfication_box {
  height: 100px;
  overflow-y: scroll;
  margin-bottom: 5%;
}
.personal_account
  .tab-content
  .tab-pane
  .notfication_section
  .notfication_exist
  .notfication_box
  .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.personal_account
  .tab-content
  .tab-pane
  .notfication_section
  .notfication_exist
  .notfication_box
  .box
  div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% 0;
  width: 80%;
}
.personal_account
  .tab-content
  .tab-pane
  .notfication_section
  .notfication_exist
  .notfication_box
  .box
  div
  .text {
  font-size: 1rem;
  margin-left: 1%;
}
.personal_account .tab-content .tab-pane .tickets_section .main-title {
  text-align: start;
  justify-content: start;
  align-items: start;
}
.personal_account .tab-content .tab-pane .tickets_section .main-title h6 {
  font-size: 1.2rem;
}
.personal_account .tab-content .tab-pane .tickets_section .main-title p {
  text-align: start;
  padding: 1% 0;
}
.personal_account .tab-content .tab-pane .tickets_section .ticket_box {
  background-color: #f7f7f7;
  padding: 1% 2%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .box_inquery
  p {
  text-align: start;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .box_inquery
  .cole {
  margin-top: 2%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .box_inquery
  .cole
  span:first-child {
  background-color: rgba(25, 30, 58, 0.1);
  padding: 1%;
  font-family: "regular";
  font-size: 0.7rem;
  color: var(--color-text);
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .box_inquery
  .cole
  span:nth-child(2) {
  font-family: "regular";
  font-size: 0.7rem;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 5px;
  padding: 3px;
  margin: 0 2%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .box_inquery
  .cole
  span:last-child {
  font-family: "regular";
  font-size: 0.9rem;
  color: var(--color-text);
}
.personal_account .tab-content .tab-pane .tickets_section .ticket_box .replay {
  margin-top: 4%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .replay
  .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .replay
  .box
  div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% 0;
  width: 80%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .replay
  .box
  div
  img {
  width: 30px;
  height: 30px;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .replay
  .box
  div
  .text {
  font-size: 0.7rem;
  margin-left: 1%;
}
.personal_account
  .tab-content
  .tab-pane
  .tickets_section
  .ticket_box
  .replay
  p {
  text-align: start;
}
.personal_account .tab-content .tab-pane .order_section .main-title {
  text-align: start;
  justify-content: start;
  align-items: start;
}
.personal_account .tab-content .tab-pane .order_section .main-title h6 {
  font-size: 1.2rem;
}
.personal_account .tab-content .tab-pane .order_section .main-title p {
  text-align: start;
  padding: 1% 0;
}
.personal_account .tab-content .tab-pane .order_section .order_tabel .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.personal_account
  .tab-content
  .tab-pane
  .order_section
  .order_tabel
  .table
  thead {
  background-color: rgba(25, 30, 58, 0.1);
}
.personal_account
  .tab-content
  .tab-pane
  .order_section
  .order_tabel
  .table
  tbody
  td
  span {
  font-size: 10px;
  padding: 7% 9%;
  border-radius: 13px;
}
.personal_account
  .tab-content
  .tab-pane
  .order_section
  .order_tabel
  .table
  tbody
  tr {
  border-bottom: 1px solid #8f92a1;
}
.personal_account
  .tab-content
  .tab-pane
  .order_section
  .order_tabel
  .table
  tbody
  tr:last-child {
  border-bottom: none;
}
.personal_account .tab-content .tab-pane .order_section .order_tabel .table td {
  border: none;
  text-align: start;
  font-family: "regular";
  font-size: 0.9rem;
  padding: 20px;
  color: var(--color-pargraph);
}
.personal_account .tab-content .tab-pane .order_section .order_tabel .table th {
  color: var(--color-text);
  font-family: "meduim";
  border: none;
  font-size: 1rem;
}
