/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -navbar
	- home page
    -- hero section
    -- service section
    -- why choise us section
    -- our service section
    -- counter section
    -- team section
    -- printer in sucess section
    -- blog section
  - about us page
  - service page
  - blog page
  - contact page
  - inquery page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #fff;
  --color-primary: #a1cf5f;
  --color-secound: #5b6152;
  --color-text: #1c2410;
  --color-pargraph: #7f7f73;
}

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var
.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.parg {
  font-size: 0.8rem;
  color: var(--color-pargraph);
  font-family: "regular";
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    font-size: 1rem;
    font-family: "medium";
    text-align: center;
    color: var(--color-white);
    padding: 2% 1%;
    width: 100%;
    &:hover {
      background-color: white;
      color: var(--color-primary);
    }
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    font-size: 0.6rem;
    font-family: "medium ";
    text-align: center;
    color: var(--color-primary);
    padding: 2% 1%;
    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
.main_content_start {
  position: relative;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-inline-end: 10%;
  margin: 2% 0;
  span {
    color: var(--color-primary);
    font-size: 0.9rem;
    font-family: "medium";
  }
  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
  }
}
.main_title_center {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    color: var(--color-primary);
    font-size: 0.9rem;
    font-family: "medium";
  }
  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
    text-align: center;
  }
}
.header_footer {
  font-size: 1.2rem;
  color: var(--color-text);
  font-family: "bold";
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
    color: var(--color-primary);
  }
}
.icon_filter {
  display: flex;
  position: absolute;
  top: 21%;
  right: 2%;
  z-index: 100;
  i {
    color: var(--color-pargraph);
  }
}
//form content
.input-group {
  position: relative;
  margin-bottom: 3%;
  .icon_form {
    position: absolute;
    right: 0.3rem;
    top: 58%;
  }
}
.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}

.form-control {
  border-radius: 2px;
  padding-right: 6%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  &:focus {
    box-shadow: none !important;
    border-color: var(--color-pargraph) !important;
  }
  &::placeholder {
    
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}
textarea {
  height: 100px;
}
textarea.form-control {
  padding-right: 2%;
}

.form-select {
  border-radius: 0px;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: var(--color-white);
  color: var(--color-text);
  background-position: left;
  position: relative;
  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

.form-check {
  .form-check-input {
    float: right;
    margin-left: 5px;
    &:checked {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
  .form-check-label {
    font-size: 1rem;
    font-family: "regular";
    color: var(--color-text);
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */

/* hamburger icon */
.navbar {
  .navbar-toggler {
    cursor: pointer;
    border: 1px solid var(--color-white);
    width: 1.8em !important;
    height: 1.8em !important;
    padding: 0 7px 2px 7px !important;
    outline: none !important;
    &:focus {
      box-shadow: none;
      cursor: pointer;
      border: 1px solid var(--color-white) !important;
      width: 1.8em !important;
      height: 1.8em !important;
      padding: 0 7px 2px !important;
    }
  }
  .navbar-toggler-icon {
    transition: all 0.2s ease-out;
    transform: rotate(0 deg);
    width: 1em !important;
    height: 2px !important;
    display: flex;
    background-image: none;
    background-color: var(--color-white);
    position: absolute !important;
    transition: all 0.2s ease-in;
    &::before {
      width: 1em !important;
      height: 2px !important;
      display: flex;
      background-image: none;
      background-color: var(--color-white);
      position: absolute !important;
      transition: all 0.2s ease-in;
      content: "";
      display: block;
      top: -0.3em;
    }
    &::after {
      width: 1em !important;
      height: 2px !important;
      display: flex;
      background-image: none;
      background-color: var(--color-white);
      position: absolute !important;
      transition: all 0.2s ease-in;
      content: "";
      display: block;
      bottom: -0.3em;
    }
  }
}
.active-hamburger {
  .navbar-toggler-icon {
    transition: 0.2s;
    transform: rotate(405deg);
    &::before {
      top: 0;
      opacity: 0;
    }
    &::after {
      transition: 0.2s;
      transform: rotate(-90deg);
      display: flex;
      justify-content: center;
      text-align: center;
      top: 0;
      right: 0;
    }
  }
}

/* hamburger icon */

/* start preloader */

#preloader {
  background-image: url(../image/Rolling-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-primary);
  animation: move-toggs 3s linear infinite;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--color-primary);
  }

  i {
    color: var(--color-primary);
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    background-color: var(--color-text);
    border-color: var(--color-text);
    cursor: pointer;
    i {
      color: var(--color-white);
    }
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

// @keyframes move-toggs {
//   0% {
//     bottom: 40px;
//   }

//   25% {
//     bottom: 20px;
//   }

//   50% {
//     bottom: 10px;
//   }

//   75% {
//     bottom: 20px;
//   }

//   100% {
//     bottom: 40px;
//   }
// }

/* finish button up  */

//start navbar
.navbar {
  background-color: var(--color-text);

  .navbar-brand {
    width: 52px;
    height: 52px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 66%;
      justify-content: center;
      .nav-item {
        transition: 0.35s all ease-in;
        position: relative;
        .nav-link {
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-white);
          padding-right: 1rem;
          padding-left: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
        }
        .nav-link.active {
          color: var(--color-primary);
          font-family: "medium ";
          transition: 0.25s all ease-in-out;
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
    .sign_button {
      width: 17%;
      margin-top: 0;
      .first {
        padding: 0% 4% 3%;
        font-size: 1rem;
        font-family: "medium ";
        border-radius: 0;
        width: 78%;
        &:hover {
          border-color: transparent;
        }
      }
    }
    .dropdown {
      .dropdown-toggle {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-white);
        border-radius: 0;
        font-size: 1rem;
        font-family: "regular";
      }
      .dropdown-menu {
        min-width: 5rem;
        .dropdown-item {
          font-family: "regular";
          font-size: 0.8rem;
          color: var(--color-text);
        }
      }
    }
  }
}

//finish navbar

// start client section
.client_section {
  position: relative;
  padding: 5% 0;
  .main_title_center {
    margin: 3% 0 1%;
    padding: 4% 0 1%;
  }

  .swiper {
    width: 100%;
    height: 200px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 2%;
      .img {
        width: 400px;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// finish client section

//start footer
footer{
  padding: 5% 0;
  background-color: rgba($color: #8DB553, $alpha: 0.1);
  .about_us{
    color: var(--color-secound);
    line-height: 1.5;
    font-size: 1.1rem;
    font-family: 'regular';
    padding: 4% 0 2%;
  }
  form.subscription{
    position: relative;
    .form-control{
      background-color: var(--color-white);
      border-radius: 20px;
      border: 1px solid transparent;
      &::placeholder{
        color: #BEC2B8;
      }
    }
    .icon_footer{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--color-primary);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 16px;
      top: 6px;
      cursor: pointer;
      i{
       color: var(--color-white);
      }
    }

  }
  .visa_button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7% 0;
    a{
      margin-inline-end: 2%;
      img{
        width: 43px;
        height: 32px;
      }
    }
  }
  .links{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    li{
      margin-bottom: 2%;
      a{
        font-size: 1.3rem;
        font-family: 'medium';
        color: var(--color-secound);
      }
    }
  }
}
.lower_footer{
  padding: 2% 0;
  border-top: 1px solid #C3D4AB;
 
  p{
    text-align: start;
  }
  .social_icon{
    display: flex;
    flex-direction: row;
    li{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline-end: 4%;
      border: 1px solid var(--color-primary);
      transition: .25s all ease-in-out;
      &:hover{
        background-color: var(--color-primary);
        a{
          i{
            color: var(--color-white);
          }
        }
       
      }
      a{
        i{
          color: var(--color-primary);
          transition: .25s all ease-in-out;
        }
      }
    }

  }
}
//finish footer
